# Ignorar archivos sensibles
.env
*.pyc
__pycache__/
db.sqlite3

# Ignorar entornos virtuales
venv/
node_modules/
env/

# Ignorar configuraciones de IDEs
.vscode/
.idea/
*.swp

# Ignorar credenciales en Google Cloud o AWS
*.json
*.pem
prueba/